<%- include("header") -%> 

    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>
    <div class="box">
        <% if (newListItem.length !== 0) { %> 
            <% newListItem.forEach(list => { %> 
                <div class="item">
                    <form action="/delete" method="POST">
                        <input type="checkbox" name="deleteItem" value="<%=list._id%>" onchange="this.form.submit();">
                        <input type="hidden" name="listName" value="<%= listTitle %>">
                    </form>
                    <p> <%= list.name %> </p>
                </div>
            <% }); %> 
        <% } %>
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item" required autofocus autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>  
    </div>  

<%- include("footer") -%> 